@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #f1fbff;
}
.bi bi-facebook{
	color: blue;
}
.btn-btn-info-p-5-rounded-circle{
    line-height: 1;
   
}
.form-control{
	border-top: none;
	border-left: none;
	border-right: none;
}
.form-label {
    /* margin-bottom: .5rem; */
    color: #706d6d;
    font-weight: 500;
}
.card-g {
	background-color: rgb(233, 233, 233);
	border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
	border: 50rem solid;
    border-width: 25px;
    border-color: lightcyan;
	
}
.card {
	bottom: none;
	border-radius:none;
	background-color:rgb(245, 206, 206)
}
.card-h {
	font-weight: 800;
	
}
.card-body {
	text-align: left;
	font-size: x-small;
	
}
.rounded-circle {
    border-radius: 100%!important;
}
.blur{
	color: rgb(104, 104, 104);
}
.border-padding {
	padding: 1rem 1rem;
	font-size:small;
	font-weight: 800;
}
.text-bg-color{
	padding: 5px;
	border-radius: 5px;
	font-size: small;
	font-weight: 800;
	color: white;
}
  .w-g {
	display: flex;
    gap: 20px;
}
.icon{ font-size: 200px;}
  
